<launch>
  <!-- The '/' used as the namespace appears to mirror a no-namespace case. -->
  <!-- Using an empty string is not allowed. -->
  <arg name="namespace" default="/"/>

  <include file="$(find scrimmage_ros)/test/dyn_param.launch">
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="test_id" default="1"/>
  </include>

  <test
    test-name="test_dyn_param"
    pkg="scrimmage_ros"
    type="test_dyn_param"
    ns="$(arg namespace)"
    >
    <param name="test_id" value="1" type="int"/>
  </test>

</launch>
