<launch>
  <arg name="namespace" default="testnamespace"/>

  <include file="$(find scrimmage_ros)/launch/nodelet.launch">
    <arg name="mission_file" value="test_api"/>
    <arg name="namespace" value="$(arg namespace)"/>
    <arg name="debug_level" default="2"/>
    <arg name="entity_tag" default="my_agent"/>
    <arg name="plugin_tags" default="REAL"/>
  </include>

  <test
    test-name="test_dyn_param"
    pkg="scrimmage_ros"
    type="test_dyn_param"
    ns="$(arg namespace)"
    />

</launch>
