<launch>  
  <arg name="namespace" default="testnamespace"/>

  <include file="$(find scrimmage_ros)/launch/nodelet.launch">
    <arg name="mission_file" value="uuv-ex1"/>
    <arg name="namespace" value="$(arg namespace)"/>
  </include>

  <test
    test-name="test_dyn_param"
    pkg="scrimmage_ros"
    type="test_dyn_param"
    ns="$(arg namespace)"
    />

</launch>
