<launch>

  <arg name="mission_file" default="~/scrimmage/scrimmage/missions/auction_assign.xml"/>  
  <arg name="max_contacts" default="100"/>
  
  <node pkg="scrimmage_ros"
        name="entity_1"
        type="auctioneer"
        output="screen">
    <param name="wrap_all" value="true" type="bool"/>
    <param name="mission_file" value="$(arg mission_file)" type="str"/>
    <param name="max_contacts" value="$(arg max_contacts)" type="int"/>
    <param name="entity_name" value="agent" type="str"/>
    <param name="entity_id" value="1" type="int"/>    
  </node>
  
  <node pkg="scrimmage_ros"
        name="entity_2"
        type="auctioneer"
        output="screen">
    <param name="mission_file" value="$(arg mission_file)" type="str"/>
    <param name="max_contacts" value="$(arg max_contacts)" type="int"/>
    <param name="entity_name" value="agent" type="str"/>
    <param name="entity_id" value="2" type="int"/>    
  </node>
  
</launch> 
